# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env
.venv/

# IDE settings
.idea/
.vscode/

# Database files
*.db
*.sqlite3
Interface/instance/site.db
Interface/detector.db

# Uploaded images
Interface/static/uploads/
!Interface/static/uploads/.gitkeep



# System files
.DS_Store
Thumbs.db